$default-m-size: 1rem;

.button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 1px lightgray solid;
    border-radius: 0.5rem;
}

.button-primary {
    @extend .button;

    background-color: rgb(27, 75, 247);
    color: white;

    &:disabled {
        background-color: rgb(83, 119, 250);
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col-center {
    @extend .flex-center;
    flex-direction: column;
}

.description-li {
    list-style: none;
    position: relative;
    padding-left: 1rem;

    &:not(:last-child) {
        margin-bottom: 0.5rem;
    }

    &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        content: "";
        display: inline-block;
        width: 3px;
        background: #eece34;
    }
}

// html {
//     height: 100vh;
// }

// body{
//     height: 100%;
//     width: 100%;
//     position: absolute;
//     top: 0;
// }

html,
body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: "Zen Kaku Gothic New", sans-serif;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .title-link {
        text-decoration: none;

        .title {
            color: black;
            font-size: 2rem;
            margin: 1.5rem 1rem;
        }
    }

    .show-select-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        min-height: 40vh;

        .grid-item {
            margin: 0;
            padding: 1rem;

            pointer-events: none;

            border: none;

            color: black;
            background-color: transparent;

            @extend .flex-col-center;

            .hand-emoji {
                font-size: 5rem;
            }

            .hand-name-jp {
                font-size: 1.5rem;
            }

            .hand-name {
                color: gray;
            }
        }

        .button-container {
            .button-cancel {
                margin-right: 1rem;
                color: black;
            }
            .button-submit {
                @extend .button-primary;
            }
        }

        .first-description-wrapper {
            width: 100%;

            display: flex;
            justify-content: space-evenly;

            > .desc {
                // max-width: 70%

                > ul {
                    margin: 0;
                    padding-left: 0;

                    > li {
                        @extend .description-li;
                    }
                }
            }

            > div {
                padding: 1rem;
                &:first-child {
                    padding-left: 2rem;
                }
                &:last-child {
                    padding-right: 2rem;
                }

                min-width: 275px;

                display: flex;
                flex-direction: column;

                > h2 {
                    margin: 0;
                    margin-bottom: 1.5rem;
                }

                .gender-form-wrapper {
                    .gender-radio-wrapper {
                        &:not(:last-child) {
                            margin-bottom: 1rem;
                        }

                        input[name="gender"] {
                            display: none;

                            + .radio-label {
                                @extend .flex-center;
                                padding: 1rem;

                                border: 1px lightgray solid;
                                border-radius: 10px;
                            }

                            &:checked {
                                + .radio-label {
                                    background-color: rgba(51, 255, 0, 0.15);
                                    border-color: rgba(0, 128, 0, 0.6);
                                    box-shadow: 0 0 0 3px rgba(0, 128, 0, 0.5);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .grid-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border: 1px lightgray solid;

        position: absolute;
        bottom: 0;
        height: 40%;
        width: 100%;

        .grid-item {
            margin: 0;
            padding: 1rem;

            border: none;

            color: black;
            background-color: transparent;

            @extend .flex-col-center;

            cursor: pointer;

            &.selected {
                background-color: rgba(51, 255, 0, 0.15);
                // border-color: green;
                box-shadow: 0 0 0 3px rgba(0, 128, 0, 0.5);
            }

            &:not(:last-child) {
                border-right: 1px lightgray solid;
            }

            &:disabled {
                div {
                    opacity: 0.5;
                }
            }

            .hand-emoji {
                font-size: 5rem;
            }

            .hand-name-jp {
                font-size: 1.5rem;
            }

            .hand-name {
                color: gray;
            }
        }
    }
}

.stat-container {
    .stat {
        display: flex;

        div:not(:last-child) {
            margin-right: 1rem;
        }

        &-title {
        }
    }
}

div.modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;

    @extend .flex-center;

    background-color: rgba($color: #000000, $alpha: 0.4);

    div.modal-back {
        max-width: 75%;
        max-height: 80%;

        background-color: white;
        border-radius: 0.5rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        > div {
            padding: 1rem;

            &:not(:last-child) {
                border-bottom: lightgray 1px solid;
            }
        }

        div.modal-header {
            font-size: 2rem;
            font-weight: bold;
        }

        div.modal-body {
            flex-grow: auto;

            div.result-wrapper {
                @extend .flex-col-center;

                div.result-jp {
                    font-size: 5rem;
                    font-weight: bold;
                }

                div.result-en {
                    font-size: 2rem;
                    color: gray;
                }
            }
        }

        div.modal-footer {
            display: flex;
            justify-content: flex-end;

            button.modal-button {
                @extend .button-primary;
            }
        }
    }
}
